{% extends 'base.html.twig' %}
{% block title %} Home {% endblock %}
{% block body%}
    <h1>Child</h1>
 {% for user in users %}
    <span>Welcome from home <span>{{ user }}</span></span> <br>
    {% endfor %}
    <h1>Parent</h1>
    {{ parent() }} <!-- To view body block from parent(base.html.twig)!>
{% endblock %}